<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Patient_Register</servlet-name>
        <servlet-class>Controller.Patient_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPass</servlet-name>
        <servlet-class>Controller.ForgetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPID</servlet-name>
        <servlet-class>Controller.ForgetPID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Patient_Register</servlet-name>
        <url-pattern>/Patient_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPass</servlet-name>
        <url-pattern>/ForgetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPID</servlet-name>
        <url-pattern>/ForgetPID</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
